#######################################################################################
# massmgmt configuration file                                                         #
# colon-delimited key-value pairs to read with awk                                    #
#######################################################################################
# file locations
ScriptLocation: /usr/local/massmgmt/bin
PlistLocation: /usr/local/massmgmt/conf
MobileConfigLocation: /usr/local/massmgmt/mconfig
LogFile: /usr/local/massmgmt/massmgmt.log

# users
AdminUserID: 501

####################### script options ################################################
# autoUpdate
AutomaticCheck: Enable
AppUpdate: Enable
MacOSUpdate: Enable
AutomaticDownload: Enable
SystemDataFiles: Enable

# Lock System-Wide Preferences for non-admin users
LockSystemPreferences: Enable

# ALF settings
SetFirewall: Enable
AllowSignedApps: Enable
StealthMode: Enable
LoggingLevel: detail

# software update server
SUS: Disable
ServerAddress: http://sus.mydomain.com:8088/index.sucatalog

# powerOptions
PowerOptions: Enable

# energy saver settings -- leave empty if not using these options
DisplaySleepTime: 2
DiskSleepTime: 10
sysSleepTime: 20

# Guest Account settings
GuestAccount: Disable
GuestPassword:
GuestFileServerAccess: Deny

# scheduled reboots, shutdown, sleep, and wake -- leave empty if not using these options
RebootDays:
RebootTime:
ShutdownDays:
ShutdownTime:
SleepDays:
SleepTime:
WakeDays:
WakeTime:

# munki config
Munki: Disable
MunkiURL: 
MunkiClient:

# Adobe Reader
AdobeReader: Enable

# chrome
UpdateChrome: Enable
DeleteIfInstalled: No
IncognitoMode: Enable

# firefox
UpdateFirefox: Enable

# enableARD
EnableARD: Disable

# enableSSH
EnableSSH: Disable

# setHostname
SetHostname: Enable
HostnameFormat: Serial

# setTimezone
SetTimezone: Enable
TimeZone: America/New_York

#######################################################################################
